body{

    background-color: black;

}

.primero {
    font-weight: bold;
    font-family: Arial;
    color: blue;
}
.pares {
    font-weight: bold;
    font-family: Arial;
    color: red;
}

.impares{
    font-weight: bold;
    font-family: Arial;
    color: green;
}