body{

    background-color: black;

}

h1,h2,h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    color: #FFFFFF;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 30%;
}

h3{
    font-size: 30em;
}