div{
    justify-content: center;
    text-align: center;
    font-family: monospace;
    border: 1px solid black;
    padding: 2%;
    color: black;
}

h1{
    color: green;
    text-transform: uppercase;
}

a{
    color: lightskyblue;
    text-decoration: none;
}